# Pandas challenge #
## Elizaveta Titova ##

In [29]:
import pandas as pd

In [30]:
my_data = {'Label': ['Toyota', 'Honda', 'Ford'],
    'Model': ['Corolla', 'Civic', 'Mustang'],
    'Year': [2020, 2019, 2021]}
my_df = pd.DataFrame(my_data)

In [31]:
my_df

    Label    Model  Year
0  Toyota  Corolla  2020
1   Honda    Civic  2019
2    Ford  Mustang  2021

In [32]:
my_df.head(1)

    Label    Model  Year
0  Toyota  Corolla  2020

In [33]:
my_df.index

RangeIndex(start=0, stop=3, step=1)

In [34]:
my_df['Label']

0    Toyota
1     Honda
2      Ford
Name: Label, dtype: object

In [35]:
my_df.loc[0]

Label     Toyota
Model    Corolla
Year        2020
Name: 0, dtype: object

In [36]:
my_df.iloc[1]

Label    Honda
Model    Civic
Year      2019
Name: 1, dtype: object

## New data frame ##

In [37]:
new_data = [ ['Toyota', 'Corolla', 2020],
    ['Honda', 'Civic', 2019],
    ['Ford', 'Mustang', 2021]]

In [38]:
colnames = ['Label', 'Model', 'Year'] #defining column names

In [39]:
new_df = pd.DataFrame(new_data, columns=colnames)

In [40]:
new_df

    Label    Model  Year
0  Toyota  Corolla  2020
1   Honda    Civic  2019
2    Ford  Mustang  2021

## Saving dataframe as csv file ##

In [41]:
my_df.to_csv('Titova_PandasChallenge.csv')

1. **What does the "write/render/evaluate" loop provide for creators of interactive data visualizations?**

*Creators are able to rapidly test and improve various visualizations by iterating through this loop, adjusting their design in response to real-time feedback. The development of more insightful and useful visualizations is made possible by this iterative process, which enables quick experimentation with different strategies. Large datasets and complicated visual mappings can be handled efficiently by the "write/render/evaluate" loop by utilizing computer power; doing so manually would be laborious and slow.*

2. **Why are dynamic, interactive data visualizations useful when communicating data?**

*Data can be communicated more effectively with dynamic, interactive data visualizations because they let users interact and explore the information in a more meaningful personalized way.
Various goals can be successfully accomplished by an interactive visualization that offers tools for in-depth investigation in addition to a broad overview of the data. It serves a range of audiences, from those who are well-versed in the subject to those who are not. Such visualizations have the power to captivate and engage people who might not otherwise be interested in the topic by enabling users to explore the data interactively and delve into specifics.*

3. **Do you agree with Murray's claim that open-source tools that avoid proprietary software are best for publishing data visualization? In a few sentences, explain why you do or do not agree.**

*Murray makes the point that open-source software can often be superior for distributing data visualizations, and I agree with this statement. I think that open-source tools are easier to use and work on a wider range of platforms than proprietary software, which could restrict the audience for your visualizations. They also have a tendency to be more adaptable and flexible, which promotes more creativity. These tools are open source, so community contributions and ongoing development can contribute to their robustness and innovation, which we will all benefit from.*